.asset-page-container {
  margin: 0 auto;
  display: flex;
  width: 1050px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 100px;
}

.asset-page-main {
  width: 700px;
}

.asset-page-container h2 {
  font-size: 24px;
}

.about p {
  border-top: 1px solid #e6e9ed;
  margin-top: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 1.3em;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  font-size: 13px;
  div {
    display: flex;
    flex-direction: column;
    span:first-child {
      font-weight: bolder;
      padding-bottom: 10px;
    }
  }
}

.asset-news-container {
  margin-top: 60px;
}

.asset-news-index {
  border-top: 1px solid #e6e9ed;
  padding-top: 20px;
  margin-top: 20px;
  box-sizing: border-box; 
}

.asset-news-story {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
}

.asset-news-story:hover {
  background-color: #f2f4f7;
}

.asset-news-source {
  font-size: 13px;
  margin-bottom: 8px;
}

.asset-news-headline {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  width: 425px;
}

.asset-news-img {
  width: 200px;
  height: 130px;
}

.asset-graph-container {
  padding-bottom: 30px;
  margin-bottom: 60px;
  border-bottom: 1px solid #e6e9ed;
  .asset-change {
    margin-bottom: 25px;
  }
  .company-name {
    font-size: 30px;
    margin-bottom: 5px;
  }
  header {
    font-size: 32px;
    margin-bottom: 10px;
  }
  span {
    font-size: 12px;
    margin-right: 3px;
  }
  span:last-child {
    color: gray;
  }
}