.nav-bar {
  display: flex;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1;
  box-shadow: 0 1px 6px gray;
}

.nav-bar h1 {
  font-size: 28px;
  font-weight: bold;
  margin-left: 24px;
}

.nav-bar nav {
  margin-right: 24px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.nav-child {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#login-link:hover {
  color: #29c446;
}

#signup-link {
  background-color: #29c446;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 50px;
  width: 150px;
}

#signup-link:hover {
  background-color: #15ab30;
  transition: background 0.3s;
}

#title-link:hover {
  color: #15ab30;
}

.search-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  right: 140px;
  width: 500px;
  height: auto;
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: white;
  z-index: 1;
}

.input-container {
  display: flex;
  align-items: center;
  z-index: 3;
}

.search-bar input {
  outline: none;
  width: 350px;
  min-height: 30px;
  border: none;
}

.search-bar svg {
  padding-left: 25px;
  padding-right: 5px;
}

.search-dropdown {
  position: absolute;
  width: inherit;
  padding-top: 50px;
  border: transparent;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 0 15px lightgray;
  background-color: white;
  font-size: 13px;
  z-index: 2;
}

.search-dropdown header {
  color: gray;
  padding-left: 25px;
}

.matched-assets {
  padding: 20px 0;
}

.search-result {
  padding: 10px 25px;
}

.search-result:hover {
  background-color: #f2f4f7;
}

.search-result span:first-child {
  display: inline-block;
  width: 80px;
}

.search-bar:hover, .search-bar:focus-within {
  border: transparent;
  box-shadow: 0 0 15px lightgray;
}

#no-results {
  padding: 50px 25px 25px 25px;
}

.account-dropdown {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  font-weight: bold;
  .account-dropdown-header {
    display: inline-block;
    height: 30px;
    margin-top: 15px;
  }
  .account-dropdown-header:hover {
    cursor: pointer;
    color: #15ab30;
  }
}

.account-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 15px lightgray;
  font-weight: 100;
  right: 0;
  top: 40px;
  width: 260px;
  height: 150px;
  z-index: 1;
  header {
    margin-left: 15px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
  }
}

.account-dropdown:hover .account-dropdown-content {
  display: block;
}

.account-dropdown:hover .account-dropdown-header {
  color: #15ab30;
}

.balances {
  display: flex;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 12px;
  padding-bottom: 15px;
  .value {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.balances > div:first-child {
  margin-right: 25px;
}

.logout-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  border-top: 1px solid #e6e9ed;
  svg {
    padding: 0 7px 0 15px;
  }
  span {
    font-size: 13px;
    font-weight: bold;
  }
}

.logout-button:hover {
  cursor: pointer;
  background-color: #f2f4f7;
}

#logged-in-nav-bar {
  box-shadow: none;
}

.about-me-dropdown {
  position: relative;
  left: calc(30vw - 300px);
  font-weight: bold;
  margin-top: 15px;

}

.about-me-dropdown-header {
  display: inline-block;
  height: 30px;
}

.about-me-dropdown-header:hover {
  cursor: pointer;
  color: #15ab30;
}

.about-me-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 15px lightgray;
  right: 0;
  font-size: 32px;
  top: 25px;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.about-me-dropdown:hover .about-me-dropdown-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  svg {
    margin: 5px;
  }
  svg:hover {
    cursor: pointer;
    color: #15ab30;
    transition: color 0.15s;
  }
}

.about-me-dropdown:hover .about-me-dropdown-header {
  color: #15ab30;
}

@media screen and (max-width: 1310px) {
  .search-bar {
    max-width: calc(100vw - 810px);
  }
}

@media screen and (max-width: 1000px) {
  .search-bar {
    display: none;
  }
  .about-me-dropdown {
    left: calc(30vw - 120px);
  }
}